.inputField {
  position: relative;
  margin-bottom: 20px;
}

.inputField label {
  display: block;
  margin-bottom: 5px;
}

/* 왜안대 */

.inputField > input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

.inputField > input:focus {
  outline: none;
  border-color: #00aaff;
  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

.inputField > input::placeholder {
  color: #aaa;
  transition: transform 0.25s ease-in-out;
}

.inputField > input:focus::placeholder {
  opacity: 0;
  transform: translateY(-5px);
}
