/* Profile */
.profile {
  display: block;
  height: 30vh;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-bottom: 1vh;
  
  height: 50%;
}

.profileImg {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  /* overflow: hidden; */
  object-fit: cover;
}


.weddingContainer {
  display: flex;
  justify-content: center;

  height: 40%;
  margin-bottom: 1vh;
}

/* IconBox */
.icon {
  width: 48px;
  height: 48px;
}
