/* 나중에 디테일 수정 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  height: 56px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.titleText {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* gender */
.genderSelect {
  display: flex;
}
.genderButton {
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  margin-right: 8px; 
}
.genderButton:not(:last-child) {
  margin-right: 8px; 
}
.genderButton input[type=radio] {
  display: none;
}
.genderButton Label {
  display: inline-block;
  cursor: pointer;
  height: 36px;
  width: 90px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 16px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 0.2s, color 0.2s;
}
.genderButton:hover Label {
  background-color: rgba(0, 0, 0, 0.08);
}
.genderButton input[type=radio]:checked + label {
  background-color: rgba(33, 150, 243, 0.12);
  color: #2196F3;
}
.genderButton input[type=radio]:checked + label:hover {
  background-color: rgba(33, 150, 243, 0.24);
}

/* 약혼자 코드 */
.inputContainer {
  display: flex;
  align-items: center;
}
.inputField {
  margin-right: 8px;
}
.confirmButton {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.submitButton {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

