/* go-join */
.goJoinContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
}
.titleText {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;

}
.titleText p {
  margin: 0;
  padding-bottom: 10px;
}
.titleText span {
  color: var(--color-join-point);
  font-weight: bold;
}

.subTitle {
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin-top: 30px;
  height: 120px;
}
.codeBtn {
  font-size: 18px;
  height: 40px;
  width: 80vw;
  border: 1.5px solid var(--color-join-point);
  color: var(--color-join-point);
  border-radius: 20px;
  display : flex;
  justify-content : center;
  align-items : center;
}

/* .btn {
  margin: 50px 20px;
  align-self: center;
} */ 

/* chooseDate */
.datePick {
  border: 1px red solid;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.dateBtn {
  margin-bottom: 10px;
  height: 50px;
  width: 80vw;

  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  word-break: keep-all;
}
