.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
}
.header{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 6px;
}
.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgb(225, 224, 224);
}
.inputField {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 94%;
  padding: 10px;
  margin: 10px 0 10px;
  height: 15px;
}
.inputField:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.textField {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 94%;
  padding: 10px;
  margin: 10px 0 10px;
  font-family: 'SUITE-Regular';
  letter-spacing: 3px;
  font-size: 18px;
}
.textField:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.required {
  color: rgb(236, 103, 103);
  font-size: 14px;
}