.container {
  background-color: white;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
}
.header{
  font-size: 17px;
}
.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgb(225, 224, 224);
}