.total {
  margin-top: 60px;
}
.container {
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
}
.blooming {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
}
.text {
  display: flex;
  flex-direction: column;
}
.copy {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(135, 135, 135);
}
.text1{
  margin-bottom: 3px;
}