.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------------- 신부버전---------------- */
.tipContainer {  
  position:relative; 
  margin: 0px;
  width: 90vw;
  height: 150px;
  background: #FFDAE4; 

  display: flex;
  flex-direction: space-around;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 350px;
  height: auto;
  margin: 30px 0 10px;
}

.textBold {
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 30%;
  text-align: center;
  word-break: keep-all;
  margin: 20px;
}
.tip{
  width: 70%;
  color: white;
  font-size: 18px;
  margin: 20px;
  word-break: keep-all;
}