.magazineContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 10px;
  cursor: pointer;
}

.cardimg{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.cardimg img{
  border-radius: 8px;
}
.cardtitle {
  position: absolute;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #fff;
  width: 140px;
  word-break: keep-all;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.901));
  /* padding: 3px 5px; */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 24px;
}
