.container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.card {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  
}
.img {
  /* width: 300px;
  height: 180px; */
  width: 80vw;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.cardtext{
  margin-left: 10px;
}
.cardtitle{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.carddate{
  font-size: 14px;
  margin-bottom: 3px;
}
.cardplace{
  font-size: 14px;
  margin-bottom: 20px;
}