.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SUITE-regular';
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
}
.section {
  margin-top: 100px;
  min-height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  place-items: center;
  text-align: center;
}
.text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
}

.mainText {
  margin-top: 56px;
  font-size: 30px;
  font-weight: 600;
}
.mainText span {
  font-weight: 800;
}

.mainImg1 {
  position: relative;
  animation: transX 1s ease-in;
  max-height: 80vh;
  left: 10vw;
  width: 80vw;
  object-fit: contain;

  section:first-child & {
    position: absolute;
  }
}


@keyframes transX {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.back{
  background-color: black;
}
.mainImg2 {
  position: relative;
  animation: transX_2 2s ease-in;
  height: 40vh;
  width: 80vw;
  right: 10vw;
  object-fit: cover;

  section:first-child & {
    position: absolute;
  }
}

@keyframes transX_2 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.hr {
  width: 80vw;
  border-bottom: 1px solid #666;
}
