.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: 0 20px;
  /* width: 90%; */
  /* border: 1px solid black; */
}
.react-calendar__navigation {
  width: 100vw;
  text-align: center;
}
.react-calendar__navigation button {
  min-width: 44px;
  margin: 10px 2px;
  background: none;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  border-radius: 20px;
  /* background-color: #000; */
}

/* 요일 보여주는 곳 */
abbr[title] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #090909;
  padding: 10px 0px;
  border-bottom: solid 1px black;
  font-weight: bold;
  font-size: 18px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 5px;
}

/* 캘린더 안에 일 표시 */
.react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  text-align: left;
  border: none;
  font-size: 17px;
  height: 52px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #cfcfcf;
}

/* 오늘날짜 */
.react-calendar__tile--now {
  background-color: #FF647C;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.react-calendar__navigation__label{
  font-size: 40px;
}
