.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: none;
  font-size: 10px;
}
.react-calendar__navigation {
  /* background-color: #FF647C; */
  width: 100vw;
  text-align: center;
}
.react-calendar__navigation button {
  /* color: white; */
  min-width: 44px;
  margin: 10px 2px;
  background: none;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  border-radius: 20px;
  background-color: #000;
}

/* 요일 보여주는 곳 */
abbr[title] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #090909;
  padding: 10px 0px;
  border-width: 1px 0px;
  border-style: solid none;
  font-weight: bold;
  font-size: 15px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* 캘린더 안에 일 표시 */
.react-calendar__tile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 10px;
  background: none;
  text-align: left;
  line-height: 16px;
  border: none;
  font-size: 15px;
  height: 60px;
  padding-top: 15px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #cfcfcf;
}

.react-calendar__tile--now {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: black;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.react-calendar__navigation__label{
  font-size: 40px;
}