@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-SpecialItalicA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --vh: 100%;
  /* 배경 */
  --color-bg: #FFFAF4;
  /* 신랑 */
  --color-groom: #6FAEC7;
  /* 고민이다 */
  /* --color-groom: #4d65b2; */

  /* 신부 */
  --color-brider: #FFA4A9;
  /* 공통 */
  --color-common: #bec0c2;

  /* 하트 */
  --color-heart: #FF6347;
  --color-heart-inactive:#A9A9A9;
}

.mainContainer {
  margin: 60px 16px; 
  /* width: 100%; */
  /* box-sizing: border-box; */
} 

body {
  font-family: 'SUITE-Regular', 'SUITE-SemiBold', 'SUITE-Bold', 'SUITE-ExtraBold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  min-width: 100vw;
  background-color: var(--color-bg);
}

a{
  text-decoration-line: none;
}

body[data-theme='groom'] {
  --color-point: var(--color-groom);
}

body[data-theme='brider'] {
  --color-point: var(--color-brider);
}