.ItemContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid gba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8%;
  background-color: #fff;
  min-height: 280px;
}

.itemImg {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.textContainer {
  padding: 10px 0;
  margin: 0 10px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location {
  display: flex;
}
.address {
  font-size: 16px;
  color: #666;
}
.locationIcon {
  color: #666;
  padding-top: 1.2px;
  padding-right: 3px;
}
.company {
  font-weight: 600;
  font-size: 18px;
  /* word-break: keep-all; */
}

/* 하트 용 relative */
.Wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.heart {
  position: absolute;
  top: 5%;
  right: 8%;
  z-index: 1;
}
.IconWrapper {
  /* width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:  rgba( 255, 255, 255, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartIconTrue {
  color: var(--color-heart);
}
.heartIconFalse {
  color: var(--color-heart-inactive);
}


.loader {
  width: 45vw;
  height: 280px;
  background:
      linear-gradient(0.25turn, transparent, #FFF, transparent),
      linear-gradient(#DDD, #DDD),
      linear-gradient(#DDD, #DDD),
      linear-gradient(#DDD, #DDD);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 215px 220px, 100% 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
to {
  background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
}
}