.form {
	background-color: #FFFAF4;
	/* padding: 1rem;
	width: 100vw;
	height: 100vh; */
}

.form label {
	display: block;
	margin-bottom: 0.05rem;
	font-weight: bold;
}

.form input,
.form textarea {
	display: block;
	width: 95%;
	font: inherit;
	padding: 0.5rem;
	border-radius: 6px;
	border: none;
	color: #28262c;
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

.actions button {
	cursor: pointer;
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 4px;
	background-color: #34036c;
	color: #e5d5f7;
}

.actions button:hover {
	background-color: #23014a;
}

.actions button[type='button'] {
	background-color: transparent;
}

.actions button[type='button']:hover {
	color: #d1bee6;
}