.form {
	background-color: #FFF;
	height: 100vh;
	/* padding: 1rem;
	width: 100vw;
	height: 100vh; */
}
.form label {
	display: block;
	margin-bottom: 0.05rem;
	font-weight: bold;
}
.form textarea {
	display: block;
	border: none;
	color: #28262c;
	resize: none;
	padding: 0;
	font-family: 'SUITE-regular';
}
.form textarea:focus {
	outline: none;
}
.actions {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 56px;
  z-index: 955;
  background-color: #FFFAF4;
}
.actions button {
cursor: pointer;
  font: inherit;
  border: none;
  background-color: var(--color-point);
  color: white;
  font-size: 20px;
  padding: 0 25px;
  height: 56px;
}
/* 일단은 동일하게 해놓기..? */
.actions button:hover {
  background-color: var(--color-point);
  color: white;
}
.actions button[type='button'] {
  background-color: transparent;
  color: #666;
}
.mainTitle {
	display: block;
	margin: 20px 30px;
	width: 80%;
	/* height: 40px; */
	border-left: 4px solid var(--color-point);
	padding: 0 10px;
}
.title {
	width: 95%;
	/* height: 50px; */
	line-height: 40px;
	font-size: 25px;
}
.date, .time {
  margin: 30px 30px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.mainContent {
	margin: 30px 30px;
	display: flex;
	/* border: 1px solid black; */
}
.content {
	font-size: 20px;
	margin-left: 20px;
	width: 80%;
}

.inputField {
	border: none;
  border-radius: 4px;
  width: 94%;
  padding: 10px;
  margin: 5px 0 5px;
  height: 15px;
  font-size: 25px;
  font-family: 'SUITE-regular';
	word-break: keep-all;
}
.inputField:focus {
	outline:none;
}