.div{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  background-image: url('../assets/logo.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 300px;
  height: 300px; 
}