.header {
  /* 색 바꾸기 */
  background-color: #f8f9fa;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;

  width: 100%;
  height: 56px;
  /* 너무 높으면 48 */
  z-index: 1;
}

/* 타이틀 */
.pageTitleContainer {
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

/* 로고 */
.pageTitleContainer img {
  width: 15vb;
  height: auto;
}

.navIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.navRight {
  margin: 16px 16px 16px 0px;
}

.navLeft {
  margin: 16px 0px 16px 16px;
}
